@page
@model Lab5.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Address.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
