@using Lab6.Services
@using Lab6.Models
@using Model = Lab6.Models.Address

@page "/Address/List"
@namespace Lab6.Pages
@inject IRepository<Model> _repo

<h3>@typeof(Model).Name</h3>
<hr />
<a class="btn btn-success" href="./@typeof(Model).Name/Create">New</a>
<hr />
@if (_items == null)
{
	<div>Loading ...</div>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>City</th>
				<th>Street</th>
				<th>HouseNumber</th>
				<th>FlatNumber</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in _items)
			{
				<tr>
					<td>@item.City</td>
					<td>@item.Street</td>
					<td>@item.HouseNumber</td>
					<td>@item.FlatNumber</td>
					<td>
						<a class="btn btn-info" href="./@typeof(Model).Name/Details/@item.Id">Details</a>
						<button class="btn btn-danger" @onclick="() => DeleteModel(item.Id)">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private IEnumerable<Model>? _items;

	protected override async Task OnInitializedAsync()
	{
		_items = await _repo.GetAllAsync();
	}

	private async Task DeleteModel(int id)
	{
		await _repo.DeleteAsync(id);

		_items = await _repo.GetAllAsync();
	}
}

